<%= render :template => 'layouts/header' %>
<div class="category-page">
	<div class="bimage">

		
		<%= image_tag(@cat.image_url, :alt => "rss feed") %>
	</div>
	<!-- Product on category page -->
		<div class="home-products col-md-3">
			<br>
<span class="cat-desc"><%= @cat.name %></span>
			<p class="cat-desc"> "<%= @cat.description %>"</p>
		</div>
		<div class="home-products col-md-9">
			<% @products.each do |product| %>
				<div class="col-md-3">
					<div class="product">
					<div class="img">
						<%= link_to  "/product/name/#{product.id}" do %>
						<%= image_tag(product.image_url, :alt => "rss feed") %>
						<% end %>
					</div>
						<h3><%= product.name %></h3>
						<h4><%= number_to_currency(product.price, :unit => "₹")  %></h4>
						<h4>Local Brand</h4>
						<h3><%= product.category.name %></h3>
						<div class="btns">
							<button class="btn btn-success">Add to cart</button>
							<button class="btn btn-danger">Buy now</button>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<!-- Product on category page -->
</div>
 <div style="clear:both;"></div>
<%= render :template => 'layouts/footer' %>