<%= render :template => 'layouts/admin-header' %>
<%= render :template => 'layouts/admin-sidebar' %>
<div class="admin-page col-md-10">
	<h3>Products</h3>
	<div class="addBtn">

		<%= link_to  "/admin/products/new" do %>
			<button class="btn btn-success">Add New</button>
		<% end %>	
	</div>
	<table class="table table-bordered table-hover cats">
		<thead>
			<tr>
				<th>S.No</th><th>Name</th><th>Category</th><th>Description</th><th>image</th><th>Created at</th><th>Actions</th>
			</tr>
		</thead>
		<tbody>
				<% @products.each_with_index do |pro,index| %>
					<tr>
						<td><%= index+1 %></td>
						<td><%= pro.name %></td>
						<td><%= pro.category.name %></td>
						<td><%= pro.description.slice(0, 50) %></td>
						<td class="img"><%= image_tag(pro.image_url) %></td>
						<td><%= pro.created_at.strftime("%b %d %Y") %></td>
						<td>
							<%= link_to  "/admin/products/edit/#{pro.id}" do %>
							<i class="glyphicon glyphicon-pencil" onClick="deleteCat(<%= pro.id %>)"></i>
							<% end %>
							| 
							<i class="glyphicon glyphicon-trash" onClick="deleteCat(<%= pro.id %>)"></i>
						</td>
					</tr>
					
				<% end %>
		</tbody>
	</table>
	<ul class="pagination left">
		<% if @page >= 1 %>
		<li><%= link_to admin_products_path(page: @page - 1) do %> << Prev  <% end %></li>
		<% end %>
	</ul>
	<ul class="pagination right">
		<% if @page <= @end %>
		<li><%= link_to admin_products_path(page: @page + 1) do %> Next >> <% end %></li>
		<% end %>
	</ul>
	
	
</div>
<!-- Delete modal -->
<!-- Modal -->
<div id="deleteMdl" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Category</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure do you want to delete?</p>
      </div>
      <div class="modal-footer">
      	<input type="hidden" id="delId" value="0" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onclick="delCategory()">Delete</button>
      </div>
    </div>

  </div>
</div>
<!-- Delete modal -->
<script>
	function deleteCat(id){
		$("#delId").val(id)
		$("#deleteMdl").modal()
	}	

	//Delete category
	function delCategory()
	{
		var id = $("#delId").val()
		$.ajax({
				url :"/admin/products/delete/"+id,
				type : "GET",
				success : function(data)
				{
					
				}
				})
	}
</script>